@keyframes DropdownSlide {
    0% {
        transform: translateY(-0.8em);
        opacity: 0;
    }

    35% {
        opacity: 0;
    }

    100% {
        transform: translateY(0em);
        opacity: 1;
    }
}


.dropdown-text,
.dropdown-ul {
    animation: DropdownSlide 0.5s;
}


.Btn-dropdown {
    transform: rotate(0deg);
    transition: transform 0.5s;

}


.Btn-dropdown.rotated {
    transform: rotate(-180deg);
}