.dropdown {
    margin: auto;
    width: 80%;



    .Title-dropdown {
        display: flex;
        justify-content: space-between;
        background-color: $red;
        color: white;
        padding: 10px 20px;
        border: 0px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 24px;
    }

    .Btn-dropdown {
        cursor: pointer;
        font-size: 24px;

    }

    .dropdown-text {
        background-color: $gray;
        padding: 20px;
        margin: 0;
    }
}